.receita {
    background: #fdfdfd;

    display: flex;

    flex-direction: column;

    margin-bottom: 5rem;
    margin-right: 5rem;

    /* A largura será 25% - a margin que eu coloquei */
    width: calc(25% - 5rem);
}